body {
  background-image: url("../img/tt2.png"), linear-gradient(to right, #eed38a);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }
  @media only screen and (max-width: 37.5em) {
    body {
      background-image: url("../img/ss2.png"), linear-gradient(to right, #eed38a); } }

img {
  overflow: auto; }

html {
  box-sizing: border-box;
  font-family: "Sansita", sans-serif, sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: var(--black);
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 58%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 56%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 52%; } }
  @media only screen and (max-width: 27.5em) {
    html {
      font-size: 50%; } }

*,
*:before,
*:after {
  box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0; }

.wrapper {
  display: grid; }

@keyframes slideOn {
  0% {
    opacity: 0; }
  2% {
    opacity: 1; }
  98% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes rotate {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(1.2); }
  50% {
    transform: scale(1); }
  90% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }

.m-top {
  margin-top: 10rem; }

.b-top {
  margin-top: 13rem; }

.header {
  background-size: cover;
  background-position: center;
  max-height: 100vh; }
  .header__top {
    color: #ffcc36;
    text-shadow: 4px 4px 6px rgba(119, 47, 26, 0.8); }
    .header__top-title {
      display: flex;
      justify-content: center;
      letter-spacing: .2rem;
      font-size: 5rem;
      padding: 4rem;
      z-index: 201; }
      @media only screen and (max-width: 50em) {
        .header__top-title {
          font-size: 4rem;
          padding: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .header__top-title {
          font-size: 3.5rem;
          padding: .5rem; } }
      .header__top-title span {
        margin-left: 3rem; }
  .header__nav {
    display: flex;
    position: relative;
    top: 0;
    z-index: 200;
    border-bottom: 4px solid #f7a41a;
    margin: 0;
    background: #ffcc36;
    align-content: center; }
  .header__burger {
    display: inline-block; }
    .header__burger-nav {
      display: flex;
      flex-basis: 100vw;
      position: relative;
      justify-content: space-evenly;
      z-index: 4;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 3.5rem;
      font-weight: 400; }
      @media only screen and (max-width: 75em) {
        .header__burger-nav {
          font-size: 3rem; } }
    .header__burger li {
      display: inline-block;
      padding: 1.5rem;
      margin-left: 8rem;
      transition: all 1s ease; }
      @media only screen and (max-width: 100em) {
        .header__burger li {
          margin-left: 6rem; } }
      @media only screen and (max-width: 90em) {
        .header__burger li {
          padding: .3rem 1rem;
          margin-left: 4.5rem; } }
      @media only screen and (max-width: 75em) {
        .header__burger li {
          margin-left: 3.3rem; } }
      @media only screen and (max-width: 27.5em) {
        .header__burger li {
          margin-left: 1rem; } }
      .header__burger li a {
        display: block;
        transition: all .3s ease-in-out;
        vertical-align: center;
        font-weight: 600;
        color: #772F1A; }
        @media only screen and (max-width: 62.5em) {
          .header__burger li a {
            display: none; } }
        .header__burger li a:link, .header__burger li a:visited {
          padding: .8rem;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: .3rem; }
      .header__burger li:hover a {
        color: #ececec; }
    .header__burger .logo {
      height: 6rem;
      width: auto;
      margin-right: 5rem;
      padding: 0; }
      @media only screen and (max-width: 37.5em) {
        .header__burger .logo {
          margin-right: 0; } }
    .header__burger-icons {
      position: absolute;
      top: 5px;
      right: 20px; }
      .header__burger-icons .fa-bars {
        text-align: right;
        max-width: 0;
        overflow: hidden;
        transition: all 0.5s;
        cursor: pointer;
        color: #772F1A;
        font-size: 5.6rem; }
        @media only screen and (max-width: 62.5em) {
          .header__burger-icons .fa-bars {
            max-width: 40px; } }
      .header__burger-icons .fa-bars.on {
        display: none; }
      .header__burger-icons .fa-times {
        text-align: right;
        max-width: 0;
        overflow: hidden;
        transition: all 0.5s;
        cursor: pointer;
        color: #772F1A;
        font-size: 5.6rem; }
      .header__burger-icons .fa-times.on {
        max-width: 40px;
        z-index: 10; }
  .header__slider {
    display: none;
    height: 100%;
    padding: 0; }
    @media only screen and (max-width: 62.5em) {
      .header__slider {
        display: block; } }
    .header__slider-nav {
      padding: 25px;
      margin: 0;
      position: fixed;
      top: 56px;
      right: -100%;
      width: 100%;
      font-family: inherit;
      background-image: url("../img/n1.png"), linear-gradient(to right, #ffcc36);
      background-repeat: no-repeat;
      background-size: cover;
      transition: all .4s linear;
      z-index: 206;
      text-transform: uppercase; }
      .header__slider-nav li {
        align-self: center;
        letter-spacing: .8rem;
        font-weight: 700;
        list-style: none;
        width: 50%;
        transition: all 4s linear; }
        @media only screen and (max-width: 37.5em) {
          .header__slider-nav li {
            width: 0; } }
      .header__slider-nav a {
        display: block;
        padding: 2rem;
        font-size: 3rem;
        color: #772F1A;
        text-decoration: none; }
        .header__slider-nav a:hover {
          color: #ececec; }
        @media only screen and (max-width: 50em) {
          .header__slider-nav a {
            padding: 1.2rem; } }
      .header__slider-nav.on {
        margin: 0;
        z-index: 205;
        top: 59px;
        right: 0;
        width: 100%;
        z-index: 300;
        font-family: "Sansita", sans-serif; }
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 7rem; }
    @media only screen and (max-width: 75em) {
      .header-text {
        margin-top: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .header-text {
        margin-top: 4rem; } }
    @media only screen and (max-width: 27.5em) {
      .header-text {
        margin-top: 3rem; } }
    .header-text .adress {
      font-size: 2rem; }
      @media only screen and (max-width: 27.5em) {
        .header-text .adress {
          font-size: 1.8rem; } }
      .header-text .adress > p {
        margin: .3rem; }
    .header-text--invitation {
      padding: 2rem;
      font-size: 2.5rem;
      width: 40vw;
      text-align: center;
      align-self: center;
      color: #772F1A;
      font-weight: 400;
      letter-spacing: .2rem;
      background: #ffcc36;
      box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
      border: 6px solid #f7a41a;
      border-radius: 10px; }
      @media only screen and (max-width: 50em) {
        .header-text--invitation {
          width: 50vw; } }
      @media only screen and (max-width: 37.5em) {
        .header-text--invitation {
          width: 60vw;
          font-size: 2.3rem;
          margin-right: -3rem; } }
    .header-text p:last-child {
      letter-spacing: .2rem; }
      @media only screen and (max-width: 37.5em) {
        .header-text p:last-child {
          text-align: center; } }
    .header-text .header-bee img {
      margin-top: 2rem;
      height: 4.5rem;
      width: auto;
      background-color: transparent;
      animation: beeAnimation 1s ease-in-out infinite;
      z-index: 101; }

@keyframes beeAnimation {
  0% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(-10px); } }

body.fixed-nav nav {
  position: fixed;
  border-bottom: 4px solid #f7a41a;
  width: 100%; }

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10rem, 1fr;
  font-size: 2.5rem;
  grid-gap: 5rem;
  justify-content: center;
  padding: 2rem 5rem; }
  .contact h2.header {
    grid-row: 1/2;
    grid-column: 1/-1; }
  @media only screen and (max-width: 75em) {
    .contact {
      grid-template-columns: 1fr; } }
  .contact button.btn,
  .contact input[type="submit"],
  .contact .phone {
    height: 6rem;
    font-size: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .contact button.btn,
      .contact input[type="submit"],
      .contact .phone {
        width: 27rem;
        font-size: 2rem; } }
  .contact .success {
    background-color: rgba(193, 236, 50, 0.8);
    margin-top: 1rem; }
  .contact .error {
    background-color: rgba(228, 22, 22, 0.8); }
  .contact-left {
    display: grid;
    grid-row-gap: 2rem;
    grid-template-areas: "p-1 p-1" "form form"; }
    .contact-left .contact-p.left {
      align-self: center;
      justify-self: center;
      grid-area: p-1; }
      @media only screen and (max-width: 27.5em) {
        .contact-left .contact-p.left {
          font-size: 2.5rem; } }
    .contact-left__form {
      grid-area: form;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto-fit) 1fr;
      justify-items: center; }
      .contact-left__form input,
      .contact-left__form textarea,
      .contact-left__form input[type="submit"] {
        width: 70%;
        color: #f7a41a; }
        @media only screen and (max-width: 75em) {
          .contact-left__form input,
          .contact-left__form textarea,
          .contact-left__form input[type="submit"] {
            width: 60%; } }
        @media only screen and (max-width: 50em) {
          .contact-left__form input,
          .contact-left__form textarea,
          .contact-left__form input[type="submit"] {
            width: 70%; } }
        @media only screen and (max-width: 50em) {
          .contact-left__form input,
          .contact-left__form textarea,
          .contact-left__form input[type="submit"] {
            width: 75%; } }
        @media only screen and (max-width: 37.5em) {
          .contact-left__form input,
          .contact-left__form textarea,
          .contact-left__form input[type="submit"] {
            width: 80%; } }
        @media only screen and (max-width: 27.5em) {
          .contact-left__form input,
          .contact-left__form textarea,
          .contact-left__form input[type="submit"] {
            width: 90%; } }
      .contact-left__form input,
      .contact-left__form textarea {
        background: #ffdb72;
        padding: 1.5rem;
        font-family: inherit;
        font-size: 2rem; }
      .contact-left__form input[type="text"],
      .contact-left__form input[type="email"],
      .contact-left__form input[type="submit"] select,
      .contact-left__form textarea {
        border-radius: 3px;
        border: 4px solid #f7a41a; }
      .contact-left__form textarea:focus,
      .contact-left__form input:focus {
        border: 4px solid #c36a2d; }
      .contact-left__form input::placeholder,
      .contact-left__form textarea::placeholder {
        color: #b45a11; }
      .contact-left__form *:focus {
        outline: none; }
      .contact-left__form input[type="submit"] {
        display: block;
        width: 20rem;
        margin-top: 2rem;
        cursor: pointer;
        align-self: bottom; }
        @media only screen and (max-width: 37.5em) {
          .contact-left__form input[type="submit"] {
            width: 15rem; } }
      .contact-left__form > p {
        margin: .5rem 1.5rem; }
      .contact-left__form .contact-btn.btn-left {
        line-height: 100%; }
  .contact-right {
    display: grid;
    grid-row-gap: 2rem;
    align-content: center;
    grid-template-areas: "p-2 p-2" "map map" "btn-2 btn-2"; }
    .contact-right .contact-p.right {
      grid-area: p-2;
      align-self: center;
      justify-self: center; }
    .contact-right .btn-right {
      grid-area: btn-2;
      width: 25rem; }
      @media only screen and (max-width: 37.5em) {
        .contact-right .btn-right {
          width: 30rem; } }
    .contact-right .map {
      grid-area: map;
      border: 5px solid #f7a41a;
      background: #f7a41a; }
    .contact-right .map-google {
      width: 100%;
      height: 40rem;
      border: 0; }
    .contact-right a.contact-btn {
      text-decoration: none;
      display: inline-block;
      display: flex;
      justify-content: center; }
  .contact-p {
    font-size: 1.5em; }
    @media only screen and (max-width: 75em) {
      .contact-p {
        font-size: 1.2em; } }
  .contact input[type="submit"]:hover,
  .contact a.contact-btn:hover {
    background-color: #ffcc36;
    border-color: #f7a41a; }
  .contact input[type="submit"]:active,
  .contact a.contact-btn:active {
    transform: translateY(3px); }

.about {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr repeat(5, minmax(20rem, min-content)) 1fr;
  grid-template-rows: repeat(12, minmax(10rem, min-content)); }
  @media only screen and (max-width: 90em) {
    .about {
      grid-template-columns: 1fr repeat(5, minmax(18rem, min-content)) 1fr;
      grid-template-rows: repeat(12, minmax(8rem, min-content)); } }
  @media only screen and (max-width: 75em) {
    .about {
      grid-template-columns: 1fr repeat(5, minmax(13rem, min-content)) 1fr;
      grid-template-rows: repeat(12, minmax(3rem, min-content)); } }
  @media only screen and (max-width: 50em) {
    .about {
      grid-template-columns: 1fr repeat(3, minmax(10rem, min-content)) 1fr;
      grid-template-rows: repeat(20, minmax(8rem, min-content));
      grid-gap: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      grid-template-rows: repeat(20, minmax(3rem, min-content));
      grid-gap: 1.5rem; } }
  .about .hexagon {
    position: relative;
    background: #f7a41a;
    width: 35vw;
    height: 35vw;
    font-size: 3rem; }
    @media only screen and (max-width: 75em) {
      .about .hexagon {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 62.5em) {
      .about .hexagon {
        font-size: 2rem; } }
    @media only screen and (max-width: 50em) {
      .about .hexagon {
        width: 50vw;
        height: 50vw;
        font-size: 2.2rem; } }
    @media only screen and (max-width: 37.5em) {
      .about .hexagon {
        width: 55vw;
        height: 55vw;
        font-size: 2rem; } }
    @media only screen and (max-width: 27.5em) {
      .about .hexagon {
        width: 63vw;
        height: 63vw;
        font-size: 1.8rem; } }
    .about .hexagon img {
      width: auto;
      height: 100%;
      background-size: cover;
      background-origin: center;
      background-image: linear-gradient(to right bottom, rgba(247, 164, 26, 0.8), rgba(255, 219, 114, 0.8)); }
    .about .hexagon-about-1 {
      grid-column: 2/4;
      grid-row: 2/6;
      background: #f2e9e1; }
    .about .hexagon-about-2 {
      grid-column: 4/6;
      grid-row: 2/6; }
      @media only screen and (max-width: 50em) {
        .about .hexagon-about-2 {
          grid-column: 3/5;
          grid-row: 5/9; } }
    .about .hexagon-about-3 {
      grid-column: 3/5;
      grid-row: 5/9; }
      @media only screen and (max-width: 50em) {
        .about .hexagon-about-3 {
          grid-column: 2/4;
          grid-row: 8/12; } }
    .about .hexagon-about-4 {
      grid-column: 5/7;
      grid-row: 5/9; }
      @media only screen and (max-width: 50em) {
        .about .hexagon-about-4 {
          grid-column: 3/5;
          grid-row: 11/15; } }
    .about .hexagon-about-5 {
      grid-column: 2/4;
      grid-row: 8/12; }
      @media only screen and (max-width: 50em) {
        .about .hexagon-about-5 {
          grid-column: 2/4;
          grid-row: 14/18; } }
    .about .hexagon-about-6 {
      grid-column: 4/6;
      grid-row: 8/12; }
      @media only screen and (max-width: 50em) {
        .about .hexagon-about-6 {
          grid-column: 3/5;
          grid-row: 17/21; } }
    .about .hexagon h1 {
      position: absolute;
      top: 9rem;
      left: 15.5rem;
      color: #772F1A; }
      @media only screen and (max-width: 90em) {
        .about .hexagon h1 {
          left: 9rem; } }
      @media only screen and (max-width: 75em) {
        .about .hexagon h1 {
          left: 8.5rem;
          top: 7rem; } }
      @media only screen and (max-width: 50em) {
        .about .hexagon h1 {
          top: 8rem;
          left: 9rem; } }
      @media only screen and (max-width: 37.5em) {
        .about .hexagon h1 {
          top: 6rem;
          left: 7rem; } }
      @media only screen and (max-width: 27.5em) {
        .about .hexagon h1 {
          top: 5rem;
          left: 6.5rem; } }
    .about .hexagon p {
      position: absolute;
      padding: 1.2rem;
      font-size: 2.5rem;
      color: #382210;
      top: 14rem;
      left: 2rem;
      letter-spacing: .2rem; }
      @media only screen and (max-width: 75em) {
        .about .hexagon p {
          font-size: 1.8rem;
          top: 11rem; } }
      @media only screen and (max-width: 62.5em) {
        .about .hexagon p {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 50em) {
        .about .hexagon p {
          font-size: 1.6rem;
          top: 12rem;
          left: 2rem; } }
      @media only screen and (max-width: 37.5em) {
        .about .hexagon p {
          top: 9rem;
          font-size: 1.8rem; } }
      @media only screen and (max-width: 27.5em) {
        .about .hexagon p {
          top: 9rem;
          padding: .2rem; } }
  .about .hexagon::before {
    content: '';
    width: 33vw;
    height: 33vw;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background: #ffcc36;
    display: block;
    position: absolute;
    top: 1vw;
    left: 1vw; }
    @media only screen and (max-width: 50em) {
      .about .hexagon::before {
        width: 46vw;
        height: 46vw;
        top: 2vw;
        left: 2vw; } }
    @media only screen and (max-width: 37.5em) {
      .about .hexagon::before {
        width: 51vw;
        height: 51vw;
        top: 2vw;
        left: 2vw; } }
    @media only screen and (max-width: 27.5em) {
      .about .hexagon::before {
        width: 59vw;
        height: 59vw;
        top: 2vw;
        left: 2vw; } }
  .about .hexagon-image::before {
    content: '';
    width: 33vw;
    height: 33vw;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background: transparent;
    display: block;
    position: absolute;
    top: 1vw;
    left: 1vw; }

.footer {
  background: #e2c275;
  color: #772F1A; }
  .footer-nav {
    margin: 0;
    padding-right: 5rem;
    border-top: 2px solid rgba(255, 219, 114, 0.5); }
    .footer-nav--left {
      justify-content: flex-start; }
    .footer-nav--right {
      justify-content: flex-end;
      color: #772F1A; }
      .footer-nav--right li {
        text-decoration: none; }
      .footer-nav--right a {
        display: block;
        text-decoration: none;
        color: #772F1A;
        transition: color .2s ease; }
        .footer-nav--right a:hover {
          color: #ececec; }
    .footer-nav--left, .footer-nav--right {
      display: flex;
      align-content: center;
      list-style: none; }
    .footer-nav li {
      padding: 1rem;
      font-size: 2rem; }
  .footer p {
    font-size: 1.5rem;
    color: #696464;
    text-align: center;
    padding: 3rem;
    margin: 0; }
    @media only screen and (max-width: 37.5em) {
      .footer p {
        text-align: left; } }
  .footer img.bee-grey {
    width: 3.5rem; }
    .footer img.bee-grey:hover {
      animation: beeAnimation 1.3s ease-in-out infinite; }

section.gallery .gallery__box {
  position: relative;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr repeat(8, minmax(10rem, min-content)) 1fr;
  grid-template-rows: repeat(12, minmax(5rem, min-content)); }
  @media only screen and (max-width: 75em) {
    section.gallery .gallery__box {
      grid-template-columns: 1fr repeat(8, minmax(9rem, min-content)) 1fr; } }
  @media only screen and (max-width: 62.5em) {
    section.gallery .gallery__box {
      grid-template-columns: 1fr repeat(7, minmax(10rem, min-content)) 1fr;
      grid-template-rows: repeat(15, minmax(3rem, min-content));
      grid-gap: 1.2rem; } }
  @media only screen and (max-width: 50em) {
    section.gallery .gallery__box {
      grid-template-columns: 1fr repeat(5, minmax(10rem, min-content)) 1fr;
      grid-template-rows: repeat(22, minmax(3rem, min-content));
      grid-gap: 1.2rem; } }
  @media only screen and (max-width: 37.5em) {
    section.gallery .gallery__box {
      grid-template-columns: 1fr repeat(5, minmax(8rem, min-content)) 1fr;
      grid-template-rows: repeat(22, minmax(2rem, min-content));
      grid-gap: 1rem; } }
  @media only screen and (max-width: 27.5em) {
    section.gallery .gallery__box {
      grid-template-columns: 1fr repeat(4, minmax(8rem, min-content)) 1fr;
      grid-template-rows: repeat(29, minmax(2rem, min-content));
      grid-gap: 1.5rem; } }
  section.gallery .gallery__box .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 3; }
    section.gallery .gallery__box .overlay .close {
      background: none;
      font-weight: 400;
      color: #772F1A;
      border: 0;
      text-transform: uppercase;
      font-size: 1.5rem; }
    section.gallery .gallery__box .overlay.open {
      display: grid;
      justify-items: center;
      align-items: center; }
    section.gallery .gallery__box .overlay-inner {
      background: #f7a41a;
      width: 700px;
      height: auto;
      padding: 20px;
      border-radius: 10px; }
      @media only screen and (max-width: 62.5em) {
        section.gallery .gallery__box .overlay-inner {
          padding: 10px; } }
      @media only screen and (max-width: 50em) {
        section.gallery .gallery__box .overlay-inner {
          width: 95vw; } }
    section.gallery .gallery__box .overlay img {
      width: 100%; }
  section.gallery .gallery__box .hexagon {
    position: relative;
    background: #f7a41a;
    width: 22vw;
    height: 22vw;
    font-size: 3rem;
    transition: .2s ease-in-out; }
    @media only screen and (max-width: 62.5em) {
      section.gallery .gallery__box .hexagon {
        width: 25vw;
        height: 25vw; } }
    @media only screen and (max-width: 50em) {
      section.gallery .gallery__box .hexagon {
        width: 35vw;
        height: 35vw; } }
    @media only screen and (max-width: 27.5em) {
      section.gallery .gallery__box .hexagon {
        width: 45vw;
        height: 45vw; } }
    section.gallery .gallery__box .hexagon img {
      position: absolute;
      top: 3%;
      left: 3%;
      width: 94%;
      height: 94%;
      object-fit: cover;
      transition: .2s ease-in; }
    section.gallery .gallery__box .hexagon:hover {
      animation: rotate .3s ease;
      z-index: 2; }
    section.gallery .gallery__box .hexagon-gallery-1 {
      grid-column: 2/4;
      grid-row: 2/6; }
    section.gallery .gallery__box .hexagon-gallery-2 {
      grid-column: 4/6;
      grid-row: 2/6; }
    section.gallery .gallery__box .hexagon-gallery-3 {
      grid-column: 6/8;
      grid-row: 2/6; }
      @media only screen and (max-width: 50em) {
        section.gallery .gallery__box .hexagon-gallery-3 {
          grid-column: 2/4;
          grid-row: 14/19; } }
    section.gallery .gallery__box .hexagon-gallery-4 {
      grid-column: 8/10;
      grid-row: 2/6; }
      @media only screen and (max-width: 62.5em) {
        section.gallery .gallery__box .hexagon-gallery-4 {
          grid-column: 3/5;
          grid-row: 11/15; } }
    section.gallery .gallery__box .hexagon-gallery-5 {
      grid-column: 3/5;
      grid-row: 5/9; }
    section.gallery .gallery__box .hexagon-gallery-6 {
      grid-column: 5/7;
      grid-row: 5/9; }
      @media only screen and (max-width: 27.5em) {
        section.gallery .gallery__box .hexagon-gallery-6 {
          grid-column: 2/4;
          grid-row: 21/26; } }
    section.gallery .gallery__box .hexagon-gallery-7 {
      grid-column: 7/9;
      grid-row: 5/9; }
      @media only screen and (max-width: 50em) {
        section.gallery .gallery__box .hexagon-gallery-7 {
          grid-column: 4/7;
          grid-row: 14/19; } }
    section.gallery .gallery__box .hexagon-gallery-8 {
      grid-column: 2/4;
      grid-row: 8/12; }
    section.gallery .gallery__box .hexagon-gallery-9 {
      grid-column: 4/6;
      grid-row: 8/12; }
    section.gallery .gallery__box .hexagon-gallery-10 {
      grid-column: 6/8;
      grid-row: 8/12; }
      @media only screen and (max-width: 50em) {
        section.gallery .gallery__box .hexagon-gallery-10 {
          grid-column: 3/5;
          grid-row: 18/22; } }
    section.gallery .gallery__box .hexagon-gallery-11 {
      grid-column: 8/10;
      grid-row: 8/12; }
      @media only screen and (max-width: 62.5em) {
        section.gallery .gallery__box .hexagon-gallery-11 {
          grid-column: 5/7;
          grid-row: 11/15; } }
      @media only screen and (max-width: 27.5em) {
        section.gallery .gallery__box .hexagon-gallery-11 {
          grid-column: 4/6;
          grid-row: 21/26; } }
    section.gallery .gallery__box .hexagon-empty {
      background: #f7a41a;
      position: relative; }
    section.gallery .gallery__box .hexagon-empty::after {
      position: absolute;
      background: #ffcc36;
      content: '';
      top: 3%;
      left: 3%;
      width: 94%;
      height: 94%; }
  @media only screen and (max-width: 27.5em) {
    section.gallery .gallery__box .hexagon-gallery-7.hexagon-empty,
    section.gallery .gallery__box .hexagon-gallery-2 {
      display: none; } }

section.offer .offer__box {
  display: grid;
  justify-content: center;
  justify-items: center;
  font-size: 3rem;
  color: #ffcc36; }
  @media only screen and (max-width: 75em) {
    section.offer .offer__box {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 50em) {
    section.offer .offer__box {
      font-size: 2rem; } }
  section.offer .offer__box th {
    color: #772F1A;
    letter-spacing: 1rem;
    font-size: 4rem;
    border: 12px solid transparent; }
    @media only screen and (max-width: 50em) {
      section.offer .offer__box th {
        font-size: 3rem; } }
  section.offer .offer__box table {
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
    background: #ffcc36;
    color: #772F1A;
    border-radius: 15px; }
  section.offer .offer__box table:not(td) {
    border: 5px solid #f7a41a; }
  section.offer .offer__box table,
  section.offer .offer__box th,
  section.offer .offer__box td {
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 75em) {
      section.offer .offer__box table,
      section.offer .offer__box th,
      section.offer .offer__box td {
        padding: 1rem 2.5rem; } }
    @media only screen and (max-width: 50em) {
      section.offer .offer__box table,
      section.offer .offer__box th,
      section.offer .offer__box td {
        padding: .8rem 2rem; } }
    @media only screen and (max-width: 37.5em) {
      section.offer .offer__box table,
      section.offer .offer__box th,
      section.offer .offer__box td {
        padding: .5rem 1.5rem; } }
    @media only screen and (max-width: 27.5em) {
      section.offer .offer__box table,
      section.offer .offer__box th,
      section.offer .offer__box td {
        padding: .2rem .5rem; } }
  section.offer .offer__box td {
    border-radius: 20px;
    margin: 1rem; }
  section.offer .offer__box td {
    background: #ffdb72;
    border: 5px solid transparent; }
  section.offer .offer__box .table-first,
  section.offer .offer__box .table-second,
  section.offer .offer__box .table-third {
    margin: 5rem; }
    @media only screen and (max-width: 50em) {
      section.offer .offer__box .table-first,
      section.offer .offer__box .table-second,
      section.offer .offer__box .table-third {
        margin: 3.5rem; } }
    @media only screen and (max-width: 37.5em) {
      section.offer .offer__box .table-first,
      section.offer .offer__box .table-second,
      section.offer .offer__box .table-third {
        margin: 2rem; } }
  section.offer .offer__box .table-third {
    text-align: center; }

.tips {
  padding: 2rem;
  display: flex;
  flex-direction: column; }
  .tips .tips__header {
    text-align: center;
    margin: 3rem auto 13rem;
    width: 33%;
    font-size: 4rem;
    padding: 1rem;
    color: #772F1A;
    letter-spacing: .5rem;
    background: #ffcc36;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
    border: 6px solid #f7a41a;
    border-radius: 10px; }
    @media only screen and (max-width: 37.5em) {
      .tips .tips__header {
        font-size: 3.5rem;
        margin: 1rem auto 10rem;
        width: 50%;
        letter-spacing: .3rem; } }
  .tips span.underlain {
    width: 15rem;
    border-bottom: 0.5rem solid #e06c0d; }
  .tips-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .tips-box {
        flex: 1; } }
    .tips-box .slider {
      align-items: center; }
      .tips-box .slider .slide {
        display: none;
        margin: 0 auto;
        opacity: 0;
        height: 25rem;
        width: 60vw;
        animation: slideOn 5s ease-in forwards; }
        @media only screen and (max-width: 50em) {
          .tips-box .slider .slide {
            width: 80vw; } }
        @media only screen and (max-width: 37.5em) {
          .tips-box .slider .slide {
            width: 90vw; } }
        .tips-box .slider .slide .quote {
          display: flex;
          justify-content: center;
          align-content: center;
          padding: 1rem;
          font-size: 2.5rem;
          text-align: center;
          letter-spacing: .2rem;
          margin-bottom: 2rem; }
          @media only screen and (max-width: 37.5em) {
            .tips-box .slider .slide .quote {
              padding: 2rem;
              font-size: 2rem; } }
      .tips-box .slider .active-slide {
        position: relative;
        top: 0;
        bottom: 10px;
        left: 0;
        right: 0;
        display: block;
        color: #772F1A;
        background: #ffcc36;
        border: 4px solid #f7a41a;
        border-radius: 10px; }
    .tips-box address {
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      padding-bottom: 1rem; }
    .tips-box .slide-dots {
      width: 100%;
      height: 2rem;
      align-self: center;
      text-align: center;
      margin-top: 1rem;
      padding-top: 3rem; }
      @media only screen and (max-width: 50em) {
        .tips-box .slide-dots {
          margin-top: 2rem; } }
      .tips-box .slide-dots span {
        display: inline-block;
        background: #e06c0d;
        margin: 0 10px;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%; }
        .tips-box .slide-dots span:hover {
          cursor: pointer; }
      .tips-box .slide-dots .active-dots {
        background: #f7a41a; }
  .tips__movie {
    margin: 15rem 4rem;
    width: 64vw;
    align-self: center;
    position: relative;
    padding-bottom: 35.25%;
    /*16:9*/
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    background: #f7a41a; }
    .tips__movie .movie {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1rem solid #f7a41a; }
    @media only screen and (max-width: 75em) {
      .tips__movie {
        width: 80vw;
        height: 45vw; } }

.about .hexagon, section.gallery .gallery__box .hexagon, section.gallery .gallery__box .hexagon img, section.gallery .gallery__box .hexagon-empty::after {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); }

.contact-left__form input[type="submit"], .contact-right .btn-right {
  letter-spacing: .3rem;
  font-family: inherit;
  padding: 1.5rem 3rem;
  justify-self: center;
  border: 5px solid #ffcc36;
  text-transform: uppercase;
  background-color: #f7a41a;
  align-items: center;
  color: #772F1A;
  border-radius: 10px; }

.tips-box {
  z-index: 100;
  padding: .8rem;
  color: #f0e9c1df; }

.contact h2.header, section.gallery h2.gallery__header, section.gallery .gallery__box__header, section.offer h2.offer__header {
  text-align: center;
  margin: 3rem auto 8rem;
  width: 33%;
  font-size: 4rem;
  padding: 1rem;
  color: #772F1A;
  letter-spacing: .5rem;
  background: #ffcc36;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  border: 6px solid #f7a41a;
  border-radius: 10px; }
  @media only screen and (max-width: 37.5em) {
    .contact h2.header, section.gallery h2.gallery__header, section.gallery .gallery__box__header, section.offer h2.offer__header {
      font-size: 3.5rem;
      margin: 1rem auto 4rem;
      width: 50%;
      letter-spacing: .3rem; } }

.contact-left .contact-p.left, .contact-right .contact-p.right {
  background: #ffdb72;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 1.5rem;
  color: #772F1A;
  border-radius: 10px; }

.contact button.btn,
.contact input[type="submit"],
.contact .phone, .tips-box .slider .active-slide, .contact-left .contact-p.left, .contact-right .contact-p.right {
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1); }
