%hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

%btn {
  letter-spacing: .3rem;
  font-family: inherit;
  padding: 1.5rem 3rem;
  justify-self: center;
  border: 5px solid $col-yellow;
  text-transform: uppercase;
  background-color: $color-cream;
  align-items: center;
  color: $color-dark-orange-3;
  border-radius: 10px;
}


%bgc-transparent {
  background: rgba(51, 51, 51, 0.8);
}

%bgc-transparent-2 {

  z-index: 100;
  padding: .8rem;
  color: $color-cream-2;
}

%header {
  text-align: center;
  margin: 3rem auto 8rem;
  width: 33%;
  font-size: 4rem;
  padding: 1rem;
  color: $color-dark-orange-3;
  letter-spacing: .5rem;
  background: $color-orange;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  border: 6px solid $color-cream;
  border-radius: 10px;

  @media only screen and (max-width: $bp-small) {
    font-size: 3.5rem;
    margin: 1rem auto 4rem;
    width: 50%;
    letter-spacing: .3rem;
  }
}

%header-small {
  background: $col-shadow;
  font-size: 2.5rem;
  display: flex;

  justify-content: center;
  align-items: center;
  @extend %shadow;
  padding: .5rem 1.5rem;
  color: $color-dark-orange-3;
  border-radius: 10px;

}

%shadow {
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
}